<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14 Introducción a Components</title>
</head>

<body>
    
    <main id="app">
        <post v-for="post in posts" :post="post"></post>
        <!-- <article v-for="post in posts">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </article> -->

        <hr>
        <pre>{{ $data }}</pre>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>

        Vue.component('post', {
            props: ['post'],
            template: `<article>
                <h1>{{post.title}}</h1>
                <p>{{post.body}}</p>
            </article>`
        });

        const vm = new Vue({
            el: "#app",
            data: {
                posts: [
                    {
                        title: 'Primer Post',
                        body: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni tempora sit sequi laborum impedit saepe vitae voluptate, a ipsum enim, totam cupiditate, est voluptates officiis reiciendis quos ex odit expedita'                        
                    },
                    {
                        title: 'Segundo Post',
                        body: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni tempora sit sequi laborum impedit saepe vitae voluptate, a ipsum enim, totam cupiditate, est voluptates officiis reiciendis quos ex odit expedita'                        
                    },
                    {
                        title: 'Tercer Post',
                        body: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni tempora sit sequi laborum impedit saepe vitae voluptate, a ipsum enim, totam cupiditate, est voluptates officiis reiciendis quos ex odit expedita'                        
                    }
                ]
            }
        })

        Vue.config.devtools = true;
    </script>
</body>
</html>